<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::section})}">
<body>

    <section class="dashboard-grid">
        
        <div class="card">
            <div class="card-header">Mantenimiento</div>
            <div class="card-body">
                <a href="/equipos" class="menu-btn">Equipos</a>
                <a href="/inventario" class="menu-btn">Inventario</a>
            </div>
        </div>

        <div class="card">
            <div class="card-header">Tablas Auxiliares</div>
            <div class="card-body">
                <a href="/marcas" class="menu-btn">Marcas</a>
                <a href="/modelos" class="menu-btn">Modelos</a>
                <a href="/lineas" class="menu-btn">Líneas</a>
                <a href="/usuarios" class="menu-btn">Usuarios</a>
            </div>
        </div>

        <div class="card">
            <div class="card-header">Consultas / Informes</div>
            <div class="card-body">
                <a href="/consultas" class="menu-btn">📊 Ver Consultas e Informes</a>
            </div>
        </div>

    </section>

</body>
</html>