<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es" th:fragment="layout(content)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario TIC - Junta de Andalucía</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

   <header>
        <h1>
            <a href="/" class="header-link">Gestión Inventario TIC</a>
        </h1>
    </header>

    <main class="container">
        <div th:replace="${content}"></div>
    </main>

    <footer>
        <strong>Delegación Territorial de Justicia, Administración Local y Función Pública</strong>
        JUNTA DE ANDALUCÍA
    </footer>

</body>
</html>